<% var top =	require("inline-html-withimg-loader!./areas/top")  %>
<% var bottom =	require("inline-html-withimg-loader!./areas/bottom")  %>
<% var features =	require("inline-html-withimg-loader!./areas/features")  %>
<% var nav =	require("inline-html-withimg-loader!./../ui/navigation")  %>


<% var header =	require("inline-html-withimg-loader!./../header")  %>
<% var footer =	require("inline-html-withimg-loader!./../footer")  %>
<% var embed =	require("inline-html-withimg-loader!./../embed")  %>
<% var images =	require("inline-html-withimg-loader!./../ui/image")  %>
<% var production =	htmlWebpackPlugin.options.production  %>
<% var currentHash = htmlWebpackPlugin.options.currentHash  %>
<% var url = htmlWebpackPlugin.options.url  %>
<% var libs_url =	htmlWebpackPlugin.options.libs_url  %>
<% var images_url =	htmlWebpackPlugin.options.images_url  %>

<!DOCTYPE html>
<html lang="en">
    <%=header({ patch: images_url})%>
    <body>
            <%= nav({patch: images_url }) %>
            <%= top({patch: images_url }) %>
            <%= features({patch: images_url }) %>
            <%= bottom({patch: images_url }) %>
       </main>
       </div>
    </div>

    <%= embed(
        { 
            fileName: htmlWebpackPlugin.options.chunks , 
            production: production,
            hash: currentHash , 
            libs_url: libs_url 
        }
    ) %>
</body>
            
</html>
    